/* 섹션 1 */
.section {
    width: 100vw;
    height: 200px;    
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.section p {
    font-size: 13px;
    opacity: .7;
    margin-top: 10px;
    margin-bottom: 8px;
}

.section button {
    padding: 8px 10px;
}


/* 섹션 2 */
.section__2 {    
    width: 100vw;
    height: 300px;    
    background-color: #4E61C0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;    
}

.section__2_text {
    color: white;
    text-align: center;
}

.section__2_text span {
    font-size: 12px;
    opacity: .6;
}

.section__2_text h3 {
    margin-top: -4px;
}

.section__2_icons {
    display: flex;
    text-align: center;
    margin: 30px;
}

.section__2_item {
    margin-right: 30px;
}

.section__2_item i {
    background-color: white;
    font-size: 36px;
    padding: 20px;
    border-radius: 50%;
}

.section__2_item h5 {
    color: white;
    margin: 5px;
}

.section__2_item span {
    color: white;
    opacity: .7;
    font-size: 12px;
}

/* 섹션 3 */
.section__3 {
    width: 100vw;
    height: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
}

.section__3 p {
    font-size: 13px;
}

/* 섹션 4 */
.section__4 {          
    user-select: none;
    padding-bottom: 60px;    
}

.section__4_content {    
    max-width: 1500px;
    margin: auto;
}

.item {
    background-size: cover;
    height: 450px;
    width: 50%;
    float: left;
    transition: 1s ease-in-out;
}

.item:hover {
    transform: scale(0.9 , 0.9);
}

.section__4_item1 {    
    background-image: url(../img/002.jpg);
}

.section__4_item2 {
    background-image: url(../img/003.jpg);    
}

.section__4_item3 {
    background-image: url(../img/004.jpg);
}
.section__4_item4 {
    background-image: url(../img/005.jpg);
}

.section__4_text {
    color: white;
    padding: 50px;
    width: 100%;
}

.section__4_text h4 {
    font-size: 36px;
    margin-bottom: 20px;
}


@media screen and (max-width: 992px) {
    .section__2 {    
        height: 700px;                 
    }
    .section__2_icons {
        flex-direction: column;                
    }
    .section__2_item {
        margin: 0;
        margin-bottom: 20px;
    }

    .item {
        width: 100%;
    }
}